.rule-item {
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: relative;
    margin-left: 64px;
}

.rule-item-fields {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.rule-item-fields > * {
    flex: 1;
}

.connector {
    position: absolute;
    top: 50%;
    left: -44px;
    height: calc(100% + 24px);
    width: 44px;
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    bottom: -5px;
}

.rule-item:last-child .connector {
    border: none;
    border-top: 2px solid #ccc;
}

.connector-label {
    position: absolute;
    left: -62px;
    top: 50%;
    background-color: #FFFFFF;
    transform: translateY(-50%);
    font-size: 14px;
    color: #555;
    padding: 4px;
}

.delete-button {
    display: block;
    flex: 0 0 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #4A4A4A;
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 8px 10px;
    border-radius: 50%;
}

.delete-button:hover {
    background-color: #ededed;
}
