.rule-item {
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: relative;
    margin-left: 64px;
}

.rule-item-fields {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.rule-item-fields > * {
    flex: 1;
}

.connector {
    position: absolute;
    top: 20px;
    left: -44px;
    height: calc(100% + 18px);
    width: 44px;
    border-left: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    box-sizing: border-box;
}

.rule-item:first-child .connector {
    top: 16px;
    height: calc(100% + 22px);
}

.rule-item:nth-last-child(2) .connector {
    height: calc(100% + 22px);
}

.rule-item:last-child .connector {
    border: none;
}

.connector-label {
    position: absolute;
    left: -62px;
    top: calc(50% + 30px);
    background-color: #FFFFFF;
    transform: translateY(-50%);
    font-size: 14px;
    color: #555;
    padding: 4px;
}

.rule-item:first-child .connector-label {
    top: calc(50% + 28px);
}

.rule-item:last-child .connector-label {
    display: none;
}

.delete-button {
    display: block;
    flex: 0 0 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #4A4A4A;
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 8px 10px;
    border-radius: 50%;
}

.delete-button:hover {
    background-color: #ededed;
}
